.block-asc-socialmedia{float: right; font-size: 0;}
.block-asc-socialmedia-sharing {float:right; padding-bottom: 1em; font-size: 1em;}
.block-asc-socialmedia a img{margin:0px 0px 10px 10px; float:right;}
#asc-sharing-icons{float:left; font-size:0; line-height:0;}
#asc-sharing-icons a{display:inline-block;}
#asc-sharing-wrapper{color:#666; float:left;}
#asc-sharing-wrapper span{float: left;}
#asc-sharing-wrapper #plus{display:block; position:absolute; top:0px; right:0px; width:16px; padding-left:6px; height:23px; background:#666666; color:#ffffff;}
.asc-sharing-link{width:25px; height:25px; display:block;}
#asc-sharing-sharprint{float:left;}

/* image rules */
#asc-sharing-icons a{background: url('sharing-sprite.png') no-repeat top left;}
#asc-sharing-sharprint a{background: url('sharing-sprite.png') no-repeat top left; display:block; height:25px; width: 25px; float:left; margin-left:5px; font-size:0;}

#asc-sharing-icons #asc-facebook-share{ background-position: 4px -19px; } 
#asc-sharing-icons #asc-googleplus-share{ background-position: 4px -46px; } 
#asc-sharing-icons #asc-linkedin-share{ background-position: 4px -73px; } 
#asc-sharing-icons #asc-tumblr-share{ background-position: 4px -135px; } 
#asc-sharing-icons #asc-twitter-share{ background-position: 4px -162px; } 

#asc-sharing-sharprint #asc-mail-share{ background-position: 2px 6px; } 
#asc-sharing-sharprint #asc-print-share{ background-position: 0 -104px; width: 27px; }
